#Header h1 
{
	background-image: url(../Images/overwrite.png);
	height: 55px;
	width: 500px;
	background-repeat: no-repeat;
    background-size: 200px 55px;
	margin-top: 0;
    text-align: center;
	position: absolute;
}
#Header h1 span
{
	position: absolute;
    left: -999em;
}
